[Unit]
Description=Get switchbot temperature values for zabbix agent

[Service]
Type=oneshot
User=mtag
ExecStart=/usr/local/bin/zbwrite /var/lib/zabbix/params/getSwitchbotTemp.json /home/mtag/bin/getSwitchbotTemp.py D3:08:C5:93:8D:77

[Install]
WantedBy=mutil-user.target
