[Unit]
Description=Get co2mini values for zabbix agent

[Service]
Type=oneshot
User=mtag
ExecStart=/usr/local/bin/zbwrite /var/lib/zabbix/params/co2mini.json  /home/mtag/bin/co2mini

[Install]
WantedBy=mutil-user.target
