[Unit]
Description=Get temperature and humidity from switch-bot for zabbix agent

[Service]
Type=oneshot
User=mtag
ExecStart=/usr/local/bin/zbwrite /var/lib/zabbix/params/sbtemperature.json /home/mtag/bin/sbtemperature D9E26FF7D3AB F2B25CFE4509

[Install]
WantedBy=mutil-user.target
